---
title: "{{ page.title }}"
date: {{ page.date }}
draft: {{ page.draft | string | lower }}
slug: {{ page.slug }}
city: {{ page.city or "Madrid" }}
toc: true
tags:
{% for tag in page.tags -%}
- {{ tag }}
{% endfor -%}
---

{% for content_block in page.blocks -%}
{{ content_block }}
{% endfor -%}
