---
title: "{{ content.title }}"
date: {{ content.date }}
draft: {{ content.draft | string | lower }}
slug: {{ content.slug }}
city: {{ content.city }}
toc: true
tags:
{%- for tag in content.tags %}
- {{ tag }}
{% endfor %}
---

{% for content_block in content.blocks %}
{{ content_block }}
{% endfor %}
